<%- include('../partials/boilerplate') %>
<header>
  <nav class="navbar navbar-dark bg-dark">
    <h1 class="appName">EntryNote</h1>
    <ul class="d-flex flex-row">
      <li class="p-3">
        <a href="/">Home</a>
      </li>
      <li class="p-3">
        <a href="/courses">Courses Index</a>
      </li>
      <li class="p-3">
        <a href="/courses/new">Add New Courses</a>
      </li>
      <li class="p-3">
        <a href="/notes/">Notes Index</a>
      </li>
      <li class="p-3">
        <a href="/notes/new">Add New Notes</a>
      </li>
    </ul>
  </nav>
</header>

