<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Blog</title>
    <!--font Family-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <!--bootstrap-->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script defer src="/js/bootstrap.bundle.js"></script>
  </head>
  <body>
    <header class="mainHeader">
      <h1 class="appName">EntryNote</h1>
      <nav class="mainNav">
        <ul class="mainUserLinks">
          <li class="index"><a href="/users/signUp"><strong>Signup</strong></a></li>
        </ul>
        <ul class="mainUserLinks">
          <li class="index"><a href="/users/login"><strong>Login</strong></a></li>
        </ul>
      </nav>
    </header>
    <div class="">
      <p>
        Description: EntryNote provides an organized, efficient and easy to use
        application for users who love taking notes.
      </p>
    </div>
  </body>
</html>
